<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">R features</h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/restaurants/new">Add R</a></li>
          <li><a href="/restaurant_features/new">Add R Features</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th>R Name</th>
              <th>F Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @restaurant_features.each do |restaurant_feature| %>
              <tr>
                <td><%= restaurant_feature.restaurant.name %></td>
                <td><%= restaurant_feature.name %></td>
                <td>
                  <a href="restaurant_features/<%= restaurant_feature.id %>" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-move"></i></a>
                  <a href="restaurant_features/<%= restaurant_feature.id %>/edit" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                  <a class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="delete" href="/restaurant_features/<%= restaurant_feature.id %>" rel="nofollow"><i class="glyphicon glyphicon-trash"></i></a>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>


