<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">Item Label</h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/item_labels/new">Add Item Label</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-responsive">
        <thead>
        <tr>
          <th>Item</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% @item_labels.each do |item_label| %>
            <tr>
              <td><%= item_label.item.name %></td>
              <td><%= item_label.name %></td>
              <td>
                <a href="/item_labels/<%= item_label.id %>" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-move"></i></a>
                <a href="/item_labels/<%= item_label.id %>/edit" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="delete" href="/item_labels/<%= item_label.id %>" rel="nofollow"><i class="glyphicon glyphicon-trash"></i></a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
