<%= form_for(@restaurant_item) do |f| %>
  <% if @restaurant_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_item.errors.count, "error") %> prohibited this restaurant_item from being saved:</h2>

      <ul>
      <% @restaurant_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.hidden_field :id %>
    <div class="panel panel-default">
      <div class="panel-heading">R Item</div>
      <div class="panel-body">
        <div class="col-md-12">
          <%= render :partial => "components/r_select_list",:locals => {:f=>f,:n=>"R"} %>
          <%= render :partial => "components/item_select_box",:locals => {:f=>f,:n=>"Item",:id => "item_id"} %>
          <% if !@restaurant_item.id.blank? %>
              <div class="form-group" id="item_labels_name">
                <label for="inputEmail">
                  <% ItemLabel.itemLabel(@restaurant_item.item_label_id).each do |i| %>
                      Item : <%= i.item.name %> , Item Label : <%= i.name %> <a href="javascript:void(0);" id="change">Change</a>
                  <% end %>
                </label>
              </div>
          <% end %>
          <div class="form-group">
            <label for="inputEmail">Name</label>
            <%= f.text_field :name ,:class=>"form-control"%>
          </div>
          <div class="form-group">
            <label for="inputEmail">Price</label>
            <%= f.number_field :price ,:class=>"form-control"%>
          </div>
          <div class="form-group">
            <label for="inputEmail">Short Description</label>
            <%= f.text_area :short_description ,:class=>"form-control"%>
          </div>
        </div>
      </div>
    </div>
  <div class="actions">
    <input type="submit" class="btn btn-primary">
    <%= link_to 'Back', restaurant_items_path,:class=>"btn btn-default" %>
  </div>
<% end %>
<script>
  $(document).ready(function(){
      var id = $("#restaurant_item_id").val();
      if(id!="" && id!=undefined){
          $("#item_data").hide();
          $("#item_labels").hide();
          $("#item_labels_name").show();
      }
      $("#change").click(function(){
          $("#item_data").show();
          $("#item_labels").show();
          $("#item_labels_name").hide();
      });
  });
</script>