<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant_item.name %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @restaurant_item.short_description %>
</p>

<%= link_to 'Edit', edit_restaurant_item_path(@restaurant_item) %> |
<%= link_to 'Back', restaurant_items_path %>
