<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">R</h3>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/restaurants/new">Add R</a></li>
          <li><a href="/restaurant_features/new">Add R Features</a></li>
        </ul>
      </div>

      <div class="clearfix"></div>
    </div>

    <div class="panel-body">
      <table class="table-bordered table">
        <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @restaurants.each do |restaurant| %>
            <tr>
              <td width="100"><%= image_tag restaurant.image_url(:small).to_s %></td>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.contact1 %>,<%= restaurant.contact2 %></td>
              <td>
                <a href="restaurants/<%= restaurant.id %>" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-move"></i></a>
                <a href="restaurants/<%= restaurant.id %>/edit" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                <a class="btn btn-sm btn-danger" data-confirm="Are you sure?" data-method="delete" href="/restaurants/<%= restaurant.id %>" rel="nofollow"><i class="glyphicon glyphicon-trash"></i></a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

