.row
  .col-md-12
    %section.panel
      %header.panel-heading
        R
      .panel-body.table-responsive
        .box-tools.m-b-15
          %a.btn.btn-primary{:href=>"/restaurants/new"}
            Add New
        %table.table-bordered.table.table-hover
          %thead
            %tr
              %th Image
              %th Name
              %th Contact
              %th Actions
          %tbody
            - if !@restaurants.nil? && !@restaurants.blank?
              - @restaurants.each do |restaurant|
                %tr
                  %td{:width => "100"}
                    %a{:href=>"/restaurants/#{restaurant.id}"}
                      = image_tag restaurant.image_url(:small).to_s
                  %td
                    %a{:href=>"/restaurants/#{restaurant.id}"}
                      = restaurant.name
                  %td
                    = restaurant.contact1
                    ,#{restaurant.contact2}
                  %td
                    %a.btn.btn-sm.btn-default{:href => "/restaurants/#{restaurant.id}/edit"}
                      %i.glyphicon.glyphicon-pencil
                    %a.btn.btn-sm.btn-danger{"data-confirm" => "Are you sure?", "data-method" => "delete", :href => "/restaurants/#{restaurant.id}", :rel => "nofollow"}
                      %i.glyphicon.glyphicon-trash