= form_for(@item) do |f|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        = @item.errors.full_messages.each do |msg|
          %li
            = msg
  .panel.panel-default
    .panel-heading
      Item
    .panel-body
      .col-md-12
        = render :partial => "components/text_box",:locals => {:f => f,:label=>"Name",:n=>"name"}
        = render :partial => "components/text_area",:locals => {:f=>f,:label=>"Description",:n=>"description"}
  .actions
    = render :partial => "components/button",:locals => {:type=>"submit",:label=>"Save"}
    = render :partial => "components/link_to",:locals => {:path => items_path}