!!!
%html
  %head
    %title RSystem
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.skin-black
    = render :partial => "components/header"
    .wrapper.row-offcanvas.row-offcanvas-left
      = render :partial => "components/menu"
      %aside.right-side
        / Main content
        %section.content
          = yield
        = render :partial => "components/footer"