!!!
%html
  %head
    %title RSystem
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.skin-black
    /[if lt IE 9]
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    = render :partial => "components/header"
    .wrapper.row-offcanvas.row-offcanvas-left
      = render :partial => "components/menu"
      %aside.right-side
        / Main content
        %section.content
          = yield
        = render :partial => "components/footer"